// USER VARIABLES SECTION
$main: #000000;
$accent: #F6C478;
$white: #fff;
$black: #000;
$red: #c51818;
$green: #88A585;
$blue: #1A73E9;
$yellow: #F3BB66;
$bg: #FFFFFF;

// GENERAL DOCUMENT STYLES
input,
textarea {
    outline: transparent;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    font-family: 'GothamPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3; 
    color: $main;
    background-color: $bg;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    margin: 0;
}

p {
    margin: 5px 0;
}

.title {
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    b, strong {
        font-family: 'GothamPro-Black', sans-serif;
        font-weight: 900;
        color: $accent;
    }
}

// Input number fix
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-btnon,
input::-webkit-inner-spin-btnon {
    -webkit-appearance: none;
}
// /Input number fix

input, textarea {
    display: inline-block;
    background: $white;
    border-radius: 10px;
    padding: 18px 25px;
    padding-left: 50px;
    background-position: left 15px center;
    background-repeat: no-repeat;
    margin: 0;
    font-size: 18px;
    color: #535353;
    border: 1px solid #535353;
    border-radius: 15px;

    &::placeholder {
        font-family: inherit;
        color: inherit;
    }

    // Дополнительные классы для валидации
    &.invalid {
        color: $red;
        border-color: $red;

        &::placeholder {
            color: $red;
        }
    }
    &.valid {
        color: $green;
        border-color: $green;

        &::placeholder {
            color: $green;
        }
    }
}

button {
    outline: transparent;
    cursor: pointer;
}

textarea {
    resize: none;
    min-height: 150px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: block;
}

.overflow-hidden {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.block-scroll {
    overflow: hidden;
    height: 100%;

    body {
        overflow: hidden;
        height: 100%;
    }
}

.container {
    max-width: 1330px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;

    li {
        margin: 0 5px;
    }
}

.preload * {
	transition: none !important;
}

.btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    text-align: center;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    white-space: break-spaces;
    background-color: $accent;
    color: $white;
    border-radius: 10px;
    border: 1px solid transparent;

    &--green {
        background-color: $green;
    }

    &--white {
        background-color: $white;
        color: $green;
    }
}

.yellow-theme {
    .modal {
        .modal__inner {
            background: url('../images/dist/decor-1.svg') bottom 30px left 30px / 70px 68px no-repeat,
                        url('../images/dist/decor-6.svg') top 60% right 50px no-repeat;
            background-color: $accent;
        }
        .modal__title {
            color: $green;
        }
        .modal__close svg {
            rect {
                fill: $green;
            }
        }
        .modal__btn {
            background-color: $green;
        }
    }
    .hero {
        background-color: #F3BB66;
        &__title {
            b, strong {
                color: $green;
            }
        }
        &__side-button {
            background-image: url('../images/dist/hero-button-bg-2.svg');
        }
    }
    .navigation {
        &__item {
            &.active {
                color: $green;
            }
            & > a {
                &::after {
                    background-color: $green;
                }
            }
        }
    }
    .header {
        .menu {
            &__languages li.active, &__navigation-item.active {
                color: $green;
            }
            &__phone path {
                fill: $green;
            }
        }
        
        &__menu, &__phone-menu {
            background-color: #F3BB66;
        }
        &__menu-btn {
            span {
                background-color: $green;
            }
        }
        &__phone-btn {
            path {
                fill: $green;
            }
        }
        &__btn {
            background-color: $green;
        }
        &__logo svg {
            path {
                &:nth-child(2) ~ * {
                    fill: $green;
                }
            }
        }
    }
}